body {
  background-color: rgb(145, 180, 179);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #456097;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
}

.App-header h4 {
  margin-top: -20px;
}

.App-header a {
  text-decoration: none;
  color: #61dafb;
}

.App-todocreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-todocreate ul {
  padding-inline-start: 0;
} 

.App-todocreate li {
  border-radius: 20px;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, .3);
  background-color: #fff;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
